.benefits-panel {
  .icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    font-size: 27px;
    color: $green;
    background-color: $strong-light-green;
  }
  .benefit-ctn {
    margin-bottom: 16px;
  }
}
