.box-and-image {
  position: relative;

  @media (max-width: 600px) {
    display: flex !important;
    align-items: flex-end !important;
    justify-content: center !important;
  }

  &__box {
    position: absolute;
    z-index: 1;
    @media (max-width: 600px) {
      margin: 0  0 -15px 0 !important;
    }
  }
}

.bottom-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  .box-and-image__box {
    margin-right: -1.5rem;
    margin-bottom: 2rem;
  }
}

.bottom-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  .box-and-image__box {
    margin-left: -2.5rem;
    margin-bottom: 4rem;
  }
}

.bottom-left2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  .box-and-image__box {
    margin-left: 1.5rem;
    margin-bottom: -1rem;
  }
}

.top-left {
  display: flex;
  justify-content: flex-start;

  .box-and-image__box {
    margin-left: -2.5rem;
    margin-top: 3rem;
  }
}

.center-left {
  display: flex;
  align-items: center;

  .box-and-image__box {
    margin-left: -2.5rem;
  }
}
