.values{
  .theme--light.product-card.v-card:not(.v-sheet--outlined) {
    background-color: transparent;
    box-shadow: none;
    width: 250px;
    text-align: center;
    @include respond-to('small'){
      width: 180px;
    }
    .v-icon{
      color: $green;
      background-color: $strong-light-green;
      margin-bottom: 16px;
      padding: 4px;
    }
    .v-image{
      margin: auto;
      height: 150px;
      width: 100px;
      @include respond-to('small'){
        height: 60px;
        width: 80px;
      }
      .v-image__image{
        width: 100px;
        background-size: contain;
        @include respond-to('small'){
          width: 80px;
        }
      }
    }
  }
  .product-card + .product-card{
    margin-left: 48px;
  }
  .v-slide-group__prev .v-icon, .v-slide-group__next .v-icon{
    @include fontSize(42px);  
    color: $green;
  }
  .v-slide-group__content{
    justify-content: center;
    @include respond-to('small'){
      align-items: center;
    }
  }
}